#root {
  color: #1a1a1a;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  /* border-radius: 9999px; */
  background-color: #e5e5e5;
}
::-webkit-scrollbar-thumb:hover {
  /* border-radius: 9999px; */
  background-color: #b2b2b2;
}
